@{
    ViewBag.CurrentSortOrder = (ViewBag.CurrentSortOrder is SortOrderOptions.Ascending)
        ? SortOrderOptions.Descending
        : SortOrderOptions.Ascending;
}

<th>
    <div class="text-md mx-2 flex min-w-35 items-center justify-center gap-1 pb-2">
        <a href="~/people?searchBy=@(ViewBag.CurrentSearchBy)&searchQuery=@(ViewBag.CurrentSearchQuery)&sortBy=@(ViewBag.NameOf)&sortOrderOptions=@(ViewBag.CurrentSortOrder)">@ViewBag.HeaderName</a>
        <i class="fa-solid fa-arrow-@(ViewBag.CurrentSortOrder is SortOrderOptions.Ascending ? "up" : "down") @(ViewBag.CurrentSortBy == ViewBag.NameOf ? "flex" : "hidden")"></i>
    </div>
</th>