@{
    ViewBag.Title = "Delete person";
}

<section class="flex h-full w-full items-center justify-center bg-[#00000055]">
    <div class="rounded-xl bg-white px-5 py-3 shadow-lg">
        a
    </div>
</section>